*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url('https://cdn.pixabay.com/photo/2019/02/14/07/28/painting-3995999_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.space-form
{
    max-width: 600px;
    width: 100%;
    margin: 100px auto ;
    border: 3px solid rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
.space-form h1
{
    text-align: center;
    margin-top: 3px;
    color: rgb(255, 255, 255, 0.5);
}
.space-form form
{
    width: 90%;
    margin: 0 auto;
}
.space-form label
{
    color: rgb(255, 255, 255, 0.5);
    font-size: 18px;
    margin-top: 5px;
}
.space-form input,
.space-form input:focus
{
    background-color: rgb(255, 255, 255, 0.5);
}
.space-form .space-btn
{
    margin: 10px auto;
    width: 40%;
    text-align: center;
}
.space-form .space-btn button
{
    width: 100%;
}